<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light border-end">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none text-secondary d-sm-inline">Admin-panel</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    style="width: 100%;" id="menu">
                    <li (click)="goToDash()" class="nav-item" style="cursor: pointer;">
                        <a class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li (click)="goToUsers()">
                        <a class="nav-link px-0 align-middle" style="cursor: pointer;">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
                    </li>
                    <li (click)="logout()">
                        <a class="nav-link px-0 align-middle" style="cursor: pointer;">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Logout</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <div *ngIf="dashBoard">
                <app-dashboard></app-dashboard>
            </div>
            <div *ngIf="users">
                <app-users-list></app-users-list>
            </div>
        </div>
    </div>
</div>