<div class="d-flex justify-content-between" style="width: 100%;">
    <h1>Users</h1>
    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
        class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus" viewBox="0 0 16 16">
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>&nbsp;new</button>
</div>
<h3 *ngIf="!usersData.length" class="p-5" style="text-align: center;">No Users!</h3>
<table class="table" *ngIf="usersData.length">
    <thead>
        <tr>
            <th scope="col">NO</th>
            <th scope="col">Full Name</th>
            <th scope="col">username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let el of usersData;let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{el.full_name}}</td>
            <td>{{el.username}}</td>
            <td>{{el.email}}</td>
            <td>{{el.phone}}</td>
            <td class="d-flex justify-items-center"><button title="edit" routerLink="/admin/editUser/{{el._id}}"
                    type="button" class="btn btn-primary me-1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg></button><button title="delete" type="button" class="btn btn-danger me-1"
                    (click)="deleteUser(el._id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg></button>
            </td>
        </tr>
    </tbody>
</table>



<!-- create user modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #userForm="ngForm" (ngSubmit)="addUser()">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Full name:</label>
                        <input type="text" [(ngModel)]="formData.full_name" name="full_name" required minlength="5"
                            class="form-control">
                        <p *ngIf="fullNameError" class="text-danger">{{fullNameError}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Username:</label>
                        <input type="text" [(ngModel)]="formData.username" name="username" required minlength="5"
                            class="form-control">
                        <p class="text-danger" *ngIf="usernameError">{{usernameError}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" required [(ngModel)]="formData.email" name="email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <p *ngIf="emailError" class="text-danger">{{emailError}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Phone:</label>
                        <input type="tel" class="form-control" required minlength="10" [(ngModel)]="formData.phone"
                            name="phone">
                        <p *ngIf="phoneError" class="text-danger">{{phoneError}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Password:</label>
                        <input type="password" required minlength="8" [(ngModel)]="formData.password" name="password"
                            class="form-control">
                        <p *ngIf="passwordError" class="text-danger">{{passwordError}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>